* {
    margin: 0;

}

.text-gradient {
    background: linear-gradient(50deg, #fb3c00, #ffb800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.normal-text {
    font-weight: normal;
}

.shadow-warning {
    box-shadow: 0 0 3rem 0 rgb(255 179 14 / 30%) !important;
}

.input-inside-icon {
    position: relative;
}

.input-inside-icon .input-box {
    padding-left: 2.8rem;

}

.input-inside-icon .input-box-icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    color: #EEEEEE;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.banner-section {
    background-color: #FFB30E;
    height: auto;
    padding: 20px 0;

}




.button-delivery {
    margin-left: 15px;
    margin-top: 10px;

}

.button-pickup {
    margin-left: 15px;
    margin-top: 10px;
    background-color: rgba(233, 122, 146, 0.267);

}




.heading-style {
    font-size: 50px;
}



.active-button:active {
    background-color: rgb(231, 99, 58);
}

.fs-7 {
    font-size: 50px;
}

.card-actions {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: -10px
}